In [5]:
import numpy as np
import pandas as pd
import matplotlib  as plt

In [6]:
data = pd.read_csv(r"C:\Users\Klaudia\Desktop\Portfolio\Uber Project\ncr_ride_bookings.csv")

In [7]:
data.shape

(150000, 21)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [9]:
data.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [10]:
data.isnull().mean()   # percetnage missing per column

Date                                 0.00
Time                                 0.00
Booking ID                           0.00
Booking Status                       0.00
Customer ID                          0.00
Vehicle Type                         0.00
Pickup Location                      0.00
Drop Location                        0.00
Avg VTAT                             0.07
Avg CTAT                             0.32
Cancelled Rides by Customer          0.93
Reason for cancelling by Customer    0.93
Cancelled Rides by Driver            0.82
Driver Cancellation Reason           0.82
Incomplete Rides                     0.94
Incomplete Rides Reason              0.94
Booking Value                        0.32
Ride Distance                        0.32
Driver Ratings                       0.38
Customer Rating                      0.38
Payment Method                       0.32
dtype: float64

In [11]:
data['Booking Status'].value_counts()    # frequency table

Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [12]:
data.corr(numeric_only=True)

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
Avg VTAT,1.000000,0.062175,NaN,NaN,NaN,0.002259,0.063005,-0.005439,-0.003945
Avg CTAT,0.062175,1.000000,NaN,NaN,NaN,0.000216,0.101503,0.000807,0.001000
Cancelled Rides by Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cancelled Rides by Driver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incomplete Rides,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Booking Value,0.002259,0.000216,NaN,NaN,NaN,1.000000,0.005174,-0.000249,-0.000287
Ride Distance,0.063005,0.101503,NaN,NaN,NaN,0.005174,1.000000,-0.001875,0.004514
Driver Ratings,-0.005439,0.000807,NaN,NaN,NaN,-0.000249,-0.001875,1.000000,-0.001010
Customer Rating,-0.003945,0.001000,NaN,NaN,NaN,-0.000287,0.004514,-0.001010,1.000000

In [13]:
data

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [14]:
data['Payment Method'].unique()

array([nan, 'UPI', 'Debit Card', 'Cash', 'Uber Wallet', 'Credit Card'],
      dtype=object)

In [15]:
data['Booking Status'].unique()

array(['No Driver Found', 'Incomplete', 'Completed',
       'Cancelled by Driver', 'Cancelled by Customer'], dtype=object)

In [16]:
data['Booking ID'].nunique()

148767

In [17]:
non_unique_rows = data[data.duplicated(subset=['Booking ID'], keep=False)]

In [18]:
non_unique_rows

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
146,2024-04-15,19:03:28,"""CNR2687237""",Completed,"""CID4887972""",Go Mini,Mehrauli,Nawada,9.0,39.1,...,NaN,NaN,NaN,NaN,NaN,79.0,32.91,4.4,3.8,Uber Wallet
248,2024-02-01,09:13:13,"""CNR5380412""",Completed,"""CID8125937""",Go Mini,Shivaji Park,Hauz Khas,11.2,31.3,...,NaN,NaN,NaN,NaN,NaN,249.0,34.73,4.2,4.9,UPI
317,2024-10-10,03:56:19,"""CNR5071968""",Completed,"""CID7384045""",Go Sedan,Panchsheel Park,Yamuna Bank,4.7,42.5,...,NaN,NaN,NaN,NaN,NaN,473.0,48.35,4.7,3.8,Cash
397,2024-04-28,01:17:51,"""CNR2290384""",Completed,"""CID6067378""",Uber XL,Nehru Place,Rajiv Chowk,14.8,40.4,...,NaN,NaN,NaN,NaN,NaN,221.0,15.30,4.1,4.5,UPI
493,2024-02-11,17:05:28,"""CNR3466923""",Completed,"""CID6417399""",Go Sedan,Kashmere Gate,Jama Masjid,8.1,24.1,...,NaN,NaN,NaN,NaN,NaN,339.0,20.88,4.7,3.0,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149785,2024-12-15,22:45:40,"""CNR5629984""",Cancelled by Driver,"""CID8254113""",Auto,Vaishali,Anand Vihar ISBT,10.1,NaN,...,NaN,1.0,Personal & Car related issues,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149828,2024-02-17,15:26:19,"""CNR9026484""",Cancelled by Driver,"""CID2050215""",Premier Sedan,Noida Film City,Paharganj,8.9,NaN,...,NaN,1.0,Personal & Car related issues,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149928,2024-08-02,17:05:31,"""CNR8005057""",Cancelled by Customer,"""CID4600342""",Go Mini,Chirag Delhi,Shastri Nagar,15.2,NaN,...,Change of plans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149938,2024-06-16,21:34:30,"""CNR8099403""",Cancelled by Customer,"""CID8169380""",Auto,Adarsh Nagar,Udyog Bhawan,7.8,NaN,...,Change of plans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149954,2024-10-21,16:57:10,"""CNR1601556""",No Driver Found,"""CID4560179""",Premier Sedan,Ghitorni Village,Ashram,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data[data["Booking ID"].astype(str) == '"CNR2687237"']

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
146,2024-04-15,19:03:28,"""CNR2687237""",Completed,"""CID4887972""",Go Mini,Mehrauli,Nawada,9.0,39.1,...,NaN,NaN,NaN,NaN,NaN,79.0,32.91,4.4,3.8,Uber Wallet
67237,2024-03-29,15:11:16,"""CNR2687237""",Cancelled by Customer,"""CID4504001""",Bike,Botanical Garden,Chhatarpur,13.4,NaN,...,Driver is not moving towards pickup location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data[data["Booking ID"].astype(str) == '"CNR2290384"']

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
397,2024-04-28,01:17:51,"""CNR2290384""",Completed,"""CID6067378""",Uber XL,Nehru Place,Rajiv Chowk,14.8,40.4,...,NaN,NaN,NaN,NaN,NaN,221.0,15.3,4.1,4.5,UPI
121759,2024-05-08,18:31:42,"""CNR2290384""",Cancelled by Driver,"""CID8601716""",Bike,Maidan Garhi,Shastri Park,8.7,NaN,...,NaN,1.0,The customer was coughing/sick,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data[data["Booking ID"].astype(str) == '"CNR8005057"']

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
125770,2024-07-23,18:15:49,"""CNR8005057""",Completed,"""CID3948594""",Go Mini,Mansarovar Park,Karol Bagh,10.0,44.3,...,NaN,NaN,NaN,NaN,NaN,375.0,30.36,4.9,4.5,Uber Wallet
149928,2024-08-02,17:05:31,"""CNR8005057""",Cancelled by Customer,"""CID4600342""",Go Mini,Chirag Delhi,Shastri Nagar,15.2,NaN,...,Change of plans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Some Booking ID's are not unique.

In [23]:
# Checking how many times one Booking ID was repeated
counts = non_unique_rows["Booking ID"].value_counts()
print(counts.value_counts())   # tells you how many are double, triple, etc.

count
2    1215
3       9
Name: count, dtype: int64

In [24]:
# I thought that maybe the cancelled ones were repated so I wanted to see the combinations of the statuses
status_combos = (
    non_unique_rows.groupby("Booking ID")["Booking Status"]
         .apply(lambda x: sorted(x.unique()))
         .reset_index()
)

status_combos.head()

     Booking ID                      Booking Status
0  "CNR1026036"        [Completed, No Driver Found]
1  "CNR1029172"             [Completed, Incomplete]
2  "CNR1051228"                         [Completed]
3  "CNR1056023"             [Completed, Incomplete]
4  "CNR1058956"  [Cancelled by Customer, Completed]

Some Booking IDs are repeated. It would be worth understanding what's the reason for that. We need to keep that in mind in reporting, for example - considering only distinct ones will affect metrics. Would be worth asking the company itself if they know the reason - for example, merging two different data sources/systems?

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time
import pickle
import os

# Load your dataset
# data = pd.read_csv("your_file.csv")

# Get distinct locations
locations = data['Pickup Location'].dropna().unique()

# Setup cache file
cache_file = "location_cache.pkl"
if os.path.exists(cache_file):
    with open(cache_file, "rb") as f:
        cache = pickle.load(f)
else:
    cache = {}

geolocator = Nominatim(user_agent="my_unique_app_name_123")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2, max_retries=5)

results = []
for loc in locations:
    if loc in cache:
        results.append((loc, cache[loc]))
        continue
    try:
        location = geocode(f"{loc}, NCR, India")
        if location:
            cache[loc] = (location.latitude, location.longitude)
            results.append((loc, cache[loc]))
        else:
            cache[loc] = (None, None)
            results.append((loc, (None, None)))
    except Exception as e:
        print(f"Error for {loc}: {e}")
        cache[loc] = (None, None)
        results.append((loc, (None, None)))
    time.sleep(1)  # avoid rate limit

# Save cache
with open(cache_file, "wb") as f:
    pickle.dump(cache, f)

# Convert to DataFrame
coord_df = pd.DataFrame(results, columns=['Pickup Location', 'Coordinates'])
coord_df['Latitude'] = coord_df['Coordinates'].apply(lambda x: x[0])
coord_df['Longitude'] = coord_df['Coordinates'].apply(lambda x: x[1])

# Merge with original data
data_with_coords = data.merge(coord_df[['Pickup Location','Latitude','Longitude']], on='Pickup Location', how='left')

print(data_with_coords.head())